.contentGeral {
    height: 100%;
    width: 100%;
    background: url("../../public/images/background.svg") 
}

.contentTitle{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentSubTitle{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #FE80DD;
}