@keyframes fade {
	from {
		opacity: 0;
		transform: scale(0.9);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.contentGeral {
	width: 100%;
	min-height: 100vh;
	background: url("../../public/images/background.svg") repeat-y;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

.contentGeralQuestionBox {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	animation-name: fade;
	animation-duration: 200ms;
}

.contentQuestionBox {
	background-color: #1E103B;
	width: 80%;
	border-radius: 20px;
}

.contentQuestionNow {
	max-width: 80%;
}

.contentQuestionNow h1 {
	margin: 5px 0 0 20px;
}

.contentQuestion {
	min-height: 13%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #2d1d4c;
	border-radius: 20px 20px 0 0;
}

.contentTimer {
	margin: 20px 0;
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contentAreaAnswers {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.contentSubmitAnswer {
	height: 25%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 0 20px 20px;
}

.contentSubmitAnswer button{
	height: 70px;
	width: 250px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	background-color: #e81fb2;
	transition: 0.2s;
}

.contentSubmitAnswer button:hover{
	background-color: #b8188e;
}

@media (max-width: 650px) {
	.contentGeral {
		min-height: 112vh;
	}
}
