@keyframes fade {
	from {
		opacity: 0;
		transform: scale(0.9);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.contentGeral {
	width: 100%;
	min-height: 100vh;
	background: url("../../public/images/background.svg") repeat-y;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
}

.contentRules{
	min-height: 500px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	animation-name: fade;
	animation-duration: 200ms;
}
