.contentGeral {
	margin: 10px 0;
	min-height: 70px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.contentNumberQuestion {
	margin: 0 20px;
	min-height: 70px;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 20px;
	background-color: #e81fb2;
	border-radius: 10px;
}

.contentAnswers {
	min-height: 70px;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 500;
	font-size: 17px;
	cursor: pointer;
	transition: 0.2s;
	border-radius: 10px;
}

.contentAnswersSelected {
	min-height: 70px;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 500;
	font-size: 17px;
	cursor: pointer;
	transition: 0.2s;
	border-radius: 10px;
	background-color: #3d2767
}

.contentAnswers span {
	margin-left: 10px;
}

.contentAnswers:hover {
	background-color: #3d2767;
}
